{% extends 'base.html' %}

{% block content %}

    <div class="mx-auto text-center">
        <h2 class="lead">Best frame of the video</h2>
        <img src="{{ url_for('generate_image') }}" alt="Best Frame">
        <div class="container">
            <p>
                <button class="btn btn-secondary text-center" type="button" data-toggle="collapse" data-target="#more_info" aria-expanded="false" aria-controls="more_info">
                    More information about the session
                </button>
            </p>
            <div class="collapse" id="more_info">
                <div class="card card-body">
                    <p>Execution time: {{ time }} sec.</p>
                </div>
            </div>
        </div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('generate_image') }}" download>Download file</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Try again</a>
            </li>
        </ul>
    </div>
{% endblock %}